node_modules/
.env
coverage
coverage*.json
scripts/@types
typechain-types/
.eslintcache
archive-*/

*.csv

#yarn files
yarn-error.log

#compiler files
forge-cache/
cache/
artifacts/
out/

.store

deployments/fork*
