node_modules/
contracts-deployed/
.env
coverage
coverage*.json
scripts/@types
typechain-types/
.eslintcache
archive-*/

test/data/run/

# log files
*.log

#compiler files
forge-cache/
eat-cache/
eat-source/
cache/
artifacts/
out/

.store

deployments/fork*
