{
  "printWidth": 120,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "semi": true,
  "explicitTypes": "preserve",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 120,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": true,
        "explicitTypes": "preserve",
        "semi": true,
        "trailingComma": "all"
      }
    },
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "printWidth": 120,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "bracketSpacing": true,
        "explicitTypes": "preserve",
        "semi": true,
        "trailingComma": "all"
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "tabWidth": 2,
        "singleQuote": false
      }
    },
    {
      "files": ["*.yml"],
      "options": {
        "parser": "yaml"
      }
    }
  ]
}
